{% assign siteData = site.data.global %}
{% assign companyName = siteData.companyName | replace: "&", "&amp;" %}
<footer class="footer">
    <div class="footer__content max-width-laptop layout-bones">
        <div class="footer__brand">
            <h2>
                <a href="{{ siteData.url }}">
                    <span class="sr-only">{{ siteData.srName }}</span>
                    <svg width="184" height="34" aria-hidden="true"><use href="#svg__logo-jrhealthins" /></svg>
                </a>
            </h2>
            <h3 class="t-tagline">Where coverage meets care</h3>
        </div>
        <div class="layout-kirk">
            <div class="footer__contact">
                <h3 class="sr-only">Contact information</h3>
                <address>
                    <dl class="contact">
                        <dt>Phone</dt>
                        <dd><a href="tel:+12535288805">(253) 528-8805</a></dd>

                        <dt>Fax</dt>
                        <dd>(253) 363-8808</dd>

                        <dt>Email</dt>
                        <dd><a href="mailto:info@jrhealthins.org">info@jrhealthins.org</a></dd>

                        <dt class="margin-top-picard">Address</dt>
                        <dd><a href="https://maps.google.com/maps?cid=9426287045452652682" target="_blank" rel="noopener">702 S Hill Park Dr, Ste 205<br>Puyallup, WA 98373<span class="sr-only"> (opens in new tab)</span></a></dd>
                    </dl>
                </address>

                <dl class="hours">
                    <dt>Hours</dt>
                    <dd>
                        <span>Monday&ndash;Friday: <time datetime="09:30">9:30 AM</time>&ndash;<time datetime="17:30">5:30 PM</time> <abbr title="Pacific Time">PT</abbr></span><br>
                        <span class="t-secondary">(closed weekends and holidays)</span>
                    </dd>
                </dl>
            </div>
            
            <nav class="footer__quick-links" aria-labelledby="footer-quick-links-heading">
                <h3 id="footer-quick-links-heading">Quick links</h3>
                <ul>
                    <li><a href="{{ siteData.basePath }}">Home</a></li>
                    <li><a href="{{ siteData.basePath }}medicare-101">Medicare 101</a></li>
                    <li><a href="{{ siteData.basePath }}services">Our Services</a></li>
                    <li><a href="{{ siteData.basePath }}about">About Us</a></li>
                    <li><a href="{{ siteData.basePath }}contact">Contact Us</a></li>
                </ul>
            </nav>

            <div class="footer__legal">
                <h3>Your data rights</h3>
                <ul>
                    <li><a href="{{ siteData.basePath }}consumer-health-data-privacy">Consumer Health Data Privacy</a></li>
                </ul>
                <h3>Legal</h3>
                <ul>
                    <li><a href="{{ siteData.basePath }}privacy-policy">Privacy Policy</a></li>
                    <li><a href="{{ siteData.basePath }}terms">Terms &amp; Conditions</a></li>
                    <li><a href="{{ siteData.basePath }}accessibility">Accessibility</a></li>
                </ul>
            </div>

            <div class="footer__disclosure">
                <h3>Important disclosures</h3>
                <p>
                    <small>{% if siteData.shipInTPMODisclaimer %}{{ siteData.disclaimer | replace: "&", "&amp;" }}{% else %}{{ siteData.disclaimerPostSHIP | replace: "&", "&amp;" }}{% endif %}</small>
                </p>
            </div>
        </div><!-- .layout -->
    </div><!-- .max-width-laptop -->

    <div class="bg-gradient-1">
        <div class="footer__content layout-spock max-width-laptop">
            <ul class="social">
                {% for handle in siteData.publishedSocialProfiles %}
                    {% assign profile = siteData.socialProfiles | where: "id", handle | first %}
                    <li>
                        <a href="{{ profile.url }}" target="_blank" rel="noopener">
                            <svg width="24" height="24" aria-hidden="true">
                                <use href="#svg__icon-{{ profile.id }}" />
                            </svg>
                            <span class="sr-only">Follow us on {{ profile.name }} (opens in new tab)</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="t-has-inline-links">
                <p><small>Copyright &copy; {{ site.time | date: "%Y" }} {{ siteData.legalName | replace: "&", "&amp;" }}. All rights reserved.</small></p>
                <ul>
                    <li><a href="{{ siteData.basePath }}credits">Credits</a></li>
                    <li><a href="{{ siteData.basePath }}sitemap">Sitemap</a></li>
                </ul>
            </div>
        </div><!-- .max-width-laptop -->
    </div><!-- .bg-gradient-1 -->
</footer>
