{% assign siteData = site.data.global %}
<header class="header">
    <a class="header__skip" href="#main">Skip to main content</a>
    <div class="header__content">
        <a class="logo" href="{{ siteData.url }}">
            <svg width="184" height="34" aria-hidden="true">
                <use href="#svg__logo-jrhealthins" />
            </svg>
            <span class="sr-only">{{ siteData.srName }}</span>
        </a>

        <nav class="menu" aria-label="Primary">
            <ul>
                <li><a href="{{ siteData.basePath }}">Home</a></li>
                <li><a href="{{ siteData.basePath }}medicare-101">Medicare 101</a></li>
                <li><a href="{{ siteData.basePath }}services">Services</a></li>
                <li><a href="{{ siteData.basePath }}about">About</a></li>
                <li><a href="{{ siteData.basePath }}contact">Contact</a></li>
                <li class="header__phone"><a href="tel:+12535288805">(253) 528-8805</a></li>
            </ul>
        </nav>
    </div>
</header>
