{% assign pageData = site.data.global %}
<head>
    <!-- Structural -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign pageTitle = pageData.defaultPageTitle %}
    {% assign pageDescription = pageData.defaultPageDescription %}
    {% if page.title %}
        {% assign pageTitle = page.title %}
    {% endif %}
    {% if page.description %}
        {% assign pageDescription = page.description %}
    {% endif %}
    <title>{{ pageTitle | replace: "&", "&amp;" }}</title>
    <meta name="description" content="{{ pageDescription | replace: "&", "&amp;" }}">
    <link rel="canonical" href="{{ page.canonicalSlug }}">

    <!-- Fonts & Stylesheets -->
    <link rel="stylesheet" href="{{ site.basePath }}assets/css/main.css">

    <!-- Icons -->
    <link rel="icon" href="{{ site.basePath }}favicon.ico" sizes="any">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.basePath }}assets/images/ui/apple-touch-icon.png">
    <link rel="manifest" href="{{ site.basePath }}manifest.webmanifest">

    {% comment %}
    <!-- Social & SEO -->
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://jmbn424.github.io/testing/assets/images/ui/social.png">
    <meta property="og:url" content="https://jmbn424.github.io/testing/">
    <meta property="og:site_name" content="J&R Health Insurance">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="J&R Health Insurance">
    {% endcomment %}
</head>
