<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>
<!-- Style & Icon assets -->
<link rel="preconnect" href="https://fonts.bunny.net" crossorigin>
<link rel="stylesheet" href="https://fonts.bunny.net/css?family=lato:400">
<link rel="canonical" href="https://jrhealthins.org">
<link rel="stylesheet" href="{{ site.basePath }}assets/css/main.css">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.basePath }}favicon.ico">
<link rel="apple-touch-icon" href="{{ site.basePath }}assets/images/ui/apple-touch-icon.png">
<link rel="manifest" href="{{ site.basePath }}manifest.webmanifest">
<!-- Social & SEO -->
<meta name="description" content="{{ page.description }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="https://jrhealthins.org/assets/images/ui/social.png">
<meta property="og:url" content="https://jrhealthins.org">
<meta property="og:site_name" content="J&R Health Insurance">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:alt" content="J&R Health Insurance">
